.header-stats-background {
	background: radial-gradient(
			37.71% 40.12% at 94.46% 4.58%,
			rgba(14, 118, 151, 0.32) 0%,
			rgba(12, 129, 149, 0) 100%
		),
		radial-gradient(
			22.05% 48.04% at 1.06% 41.67%,
			rgba(20, 71, 159, 0.49) 0%,
			rgba(19, 78, 158, 0) 100%
		),
		linear-gradient(296.24deg, rgba(22, 58, 162, 0.3) 3.67%, rgba(10, 148, 146, 0.3) 98.49%);
}

.table-header-border {
	background: linear-gradient(
			282.35deg,
			rgba(78, 101, 234, 0.5) 9.11%,
			rgba(22, 62, 161, 0.2) 33.03%
		),
		linear-gradient(95.4deg, rgba(121, 225, 237, 0.5) 9.28%, rgba(120, 222, 235, 0.2) 42.1%);
}

.button-border-gradient {
	background: linear-gradient(279.34deg, #1737a380 -24.82%, #099b9180 96.63%);
}

/* Hide Arrows on Number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
