body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Replace list-style with transparent img to keep accessibility, remove default padding */
ul,
ol {
  list-style-image: url('./assets/icons/transparent-dot.svg');
  padding: 0;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Set text-decoration for links to appear on focus and hover */
a {
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.max-w-screen-p-incl {
  max-width: calc(100vw - 4rem);
}

@media only screen and (min-width: 768px) {
  .max-w-screen-p-incl {
    max-width: calc(100vw - 5rem);
  }
}

.break-word {
  word-break: break-word;
}

/* react-select */

.react-select-container {
  background-color: transparent;
}

.react-select__control {
  background-color: transparent !important;
  display: flex;
  width: 165px;
  position: relative !important;
  left: 16px;
  padding: 0px 0px 0px 0 !important;
  box-shadow: none !important;
  border: none !important;
}

.react-select__value-container {
  background-color: #ff0013;
  padding: 3px 8px !important;
  margin: 0;
  border-radius: 8px 0 0 8px;
}

.react-select__value-container--has-value:focus {
  border: none !important;
}

.react-select__single-value {
  color: white !important;
}

.react-select__indicators {
  background-color: #ff0013;
  padding: 0px !important;
  margin: 0;
}

.react-select__input-container {
  color: white !important;
}

.react-select__placeholder {
  color: white !important;
}

.react-select__indicator-separator {
  background-color: white !important;
}

.react-select__indicator {
  color: white !important;
}

.react-select__menu-list {
  color: white;
  text-align: center;
  padding: 0 !important;
  margin: 0;
  width: 140px;
  background-color: #ff0013;
  border-radius: 8px;
}

.react-select-control {
  max-height: 41px;
  width: 200px;
  border: none !important;
}

.react-select-control--is-focused {
  border: none !important;
}

.react-select__menu {
  color: white !important;
  background-color: transparent !important;
  border-radius: 8px !important;
  width: 140px !important;
  left: 16px;
}

.react-select-option {
  background-color: transparent !important;
}

.react-select__option--is-focused {
  background-color: transparent !important;
}

.react-select__option:hover,
.react-select__option:focus {
  transition: ease-in;
  color: white;
  transition-duration: 200ms;
  transition-property: font-weight;
  font-weight: bolder;
  background-color: transparent !important;
}

.react-select__option--is-selected {
  background-color: #ff0013 !important ;
}
