body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Replace list-style with transparent img to keep accessibility, remove default padding */
ul,
ol {
  list-style-image: url('./assets/icons/transparent-dot.svg');
  padding: 0;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Set text-decoration for links to appear on focus and hover */
a {
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.max-w-screen-p-incl {
  max-width: calc(100vw - 4rem);
}

@media only screen and (min-width: 768px) {
  .max-w-screen-p-incl {
    max-width: calc(100vw - 5rem);
  }
}

.break-word {
  word-break: break-word;
}

/* needed for moving carousel pagination out of card */
.swiper-pagination {
  margin-top: 1.5625rem;
  position: relative;
}

/* react-select */

.custom-select .react-select-container {
  background-color: transparent;
}

.custom-select .react-select__control {
  background-color: transparent;
  display: flex;
  width: 9.4rem;
  position: relative;
  left: 1rem;
  box-shadow: none;
  border: none;
}

.custom-select .react-select__value-container {
  height: 2.375rem; /* this is the "select" height" */
  background-color: #d5294a;
  padding: 0.3rem 0.5rem;
  margin: 0;
  border-radius: 0.5rem 0 0 0.5rem;
}

.custom-select .react-select__value-container--has-value:focus {
  border: none;
}

.custom-select .react-select__single-value {
  color: white;
}

.custom-select .react-select__indicators {
  height: 2.375rem; /* this is the "select" height" */
  background-color: #d5294a;
  padding: 0px;
  margin: 0;
}

.custom-select .react-select__input-container {
  color: white;
}

.custom-select .react-select__placeholder {
  color: white;
}

.custom-select .react-select__indicator-separator {
  background-color: white;
}

.custom-select .react-select__indicator {
  color: white;
}

.custom-select .react-select__indicator:hover {
  color: lightcoral;
}

.custom-select .react-select__menu-list {
  color: white;
  padding: 0;
  margin: 0;
  width: 7.9rem;
  background-color: #d5294a;
  border-radius: 0.5rem;
}

.custom-select .react-select-control {
  /* max-height: 41px; */
  width: 9.4rem;
  border: none;
}

.custom-select .react-select-control--is-focused {
  border: none;
}

.custom-select .react-select__menu {
  color: white;
  background-color: transparent;
  border-radius: 0.5rem;
  width: 7.9rem;
  left: 1rem;
}

.custom-select .react-select-option {
  background-color: transparent;
}

.custom-select .react-select__option--is-focused {
  background-color: transparent;
}

.custom-select .react-select__option:hover,
.custom-select .react-select__option:focus {
  transition: ease-in;
  color: white;
  transition-duration: 200ms;
  transition-property: font-weight;
  font-weight: bolder;
  background-color: transparent;
}

.custom-select .react-select__option--is-selected {
  background-color: #d5294a;
}

@media (max-width: 420px) {
  .custom-select .react-select__indicator-separator {
    display: none;
  }
  .custom-select .react-select__control {
    width: 7.6rem;
  }
  .custom-select .react-select__value-container {
    text-align: center;
    padding: 0.3rem 0px;
  }
  .custom-select .react-select__dropdown-indicator {
    padding: 0.1rem;
  }
}
